{% extends 'Seller/account_base.html' %}
{% load crispy_forms_tags %}
{% block customstyle %}
{{block.super}}
<style>
    #Mycard label{
        color:#fff;

    }
    
</style>


{% endblock customstyle %}
{{block.super}}
{% block accountcontent %}
<div class="row"></div>

<div class="card px-2 py-2" style="background:#000;" id="Mycard">
    <h4 class="text-light">Change Your Bankdetails</h4>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{form|crispy}}
    
    <div class="col-md-3 mt-2">
        <input type="submit" class="w-100 btn " style="background:red;color:#000;font-weight:600;" value="Change">
    </div>
    </form>
</div>


{% endblock accountcontent %}