{% extends 'App/base.html' %}
{% load static %}
{% load prodfilter %}

{% block customlink %}
<style>
  .main_slider{
    border-bottom: 1px solid red;

  }
  .main_slider .carousel-inner  .carousel-item{
    max-height: 400px;
    
    

  }
  #slide .carousel-inner  .carousel-item img{
    height: 100%;
    width: 100%;

  }
#Trending {
  padding: 0 50px;
  position: relative;
}
.AllProd{
  padding: 0 50px;

}
.wrapper{
  background: #fff;
}
.control-item{
  height: 100px;
  width: 40px;
  background: black;
  color: red;
}
.carousel-control-prev{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-next{
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .img-box{
  height: 160px;
  width: 100%;
  position:relative;
  margin-bottom: 10px;
}
.wrapper .content-box{
  font-size: 14px;
  color: #000;
}

.wrapper .img-box img{
  max-height: 100%;
  max-width:100%;
  
}
.price-box span:nth-child(2){
  color: #999;

}
.price-box span:nth-child(1){
  color: #86bd57;
}
.header h1{
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 30px;
}


.header a{
  color: red !important;
  position: relative;
  margin-bottom: 10px;
  font-weight: 600;

  
}


@media(max-width: 1024px){
  .control-item{
    display: none;
  }
  #Trending{
    padding:0;
  }
  .wrapper{
   
    border-radius: 6px;
    padding: 25px 15px;

  }
.prodsm{
  width: 180px;
  background:#fff;
  margin: 0 2px ;
}
.img-box{
  height: 120px;
}
  
}
@media(max-width: 765px){
  .prodsm{
    width: 175px;
  }
 
}
@media(max-width: 375px){
  .prodsm{
    width: 150px;
  }
  .wrapper .img-box{
    height: 120px;
  }
}






</style>
{% endblock customlink %}
{% block mainbody %}

<div id="carouselExampleInterval"  class="carousel slide main_slider " data-bs-ride="carousel">

  <div class="carousel-inner">
    {% for item in slider %}
    <div class="carousel-item {% if forloop.counter is 1 %}active{% endif %}">
      <img src="{{item.image.url}}" class="d-block w-100" alt="">
     
    </div>
    {% endfor %}
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Treand -->
<div class="container " id="Trend">
<div id="Trending" class="carousel slide mt-3 " data-bs-touch="false" data-bs-interval="false">
  <div class=" text-center header">
           <h1>Trending <span style="color:red">Products</span></h1>

           <a href="{% url 'viewall' category="trend" %}" class="text-dark"><i class="fa-solid fa-eye mx-1"></i>View All</a>
          <span></span>
  </div>
  <div class="carousel-inner ">
     <div class="carousel-item active " data-bs-interval="1000">
       <div class="row ">
   
         {% for   prod in trend|TrendLatest:"-1" %}
            <div class="col-sm-2 wrapper   ">
              <a href="{% url 'productview' prod.product.product_id %}" class="p-1 text-decoration-none text-center ">
                <div class="img-box ">
                   <img src="{{prod.product.image.url}}" alt="" class="img-fluid  img-responsive">
                </div>
                <div class="content-box ">
                  <p>{{prod.product.productname|truncatechars:50}}</p>
                </div>
                <div class="price-box">
                   <span class="text-dark">₹{{prod.product.price}}</span>
                   <span class="text-decoration-line-through">₹{{prod.product.price_not}}</span>
                </div>
              </a>
            </div>
            {% if forloop.counter|divisibleby:6 and not foloop.last %} 
         </div>
       </div>
     <div class="carousel-item " data-bs-interval="1000">
       <div class="row">
      {% endif %}
      {% endfor %}

      </div>
     </div>

</div>
  

<!-- carousel start-->
<a href="#"  class="carousel-control-prev control-item bg-dark" data-bs-target="#Trending" data-bs-slide="prev"><i class="fa fa-angle-left"></i></a>
<a href="#" class="carousel-control-next control-item" data-bs-target="#Trending" data-bs-slide="next"><i class="fa fa-angle-right"></i></a>
<!--carousel control end-->
</div>
</div>

<div class="container-fluid" id="AllProd">
  {% for cat in AllProd  %}
  <div id="carouselExampleControlsNoTouching{{forloop.counter}}" class="AllProd carousel slide mt-5" data-bs-touch="false" data-bs-interval="false">
  <div class=" text-center header">
           <h1>Flash on <span style="color:red">{{cat}}</span></h1>
           <a href="/Viewall/{{cat}}" class="text-dark"><i class="fa-solid fa-eye mx-1"></i>View All</a>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
      {% for prod in cat|GetLatest:"-1" %}
       <div class="col-sm-2 wrapper">
        <a href="/Product/{{prod.product_id}}/" class="p-1 text-decoration-none text-center ">
                <div class="img-box ">
                   <img src="{{prod.image.url}}" alt="" class="img-fluid  img-responsive">
                </div>
                <div class="content-box ">
                  <p>{{prod.productname}}</p>
                </div>
                <div class="price-box">
                   <span class="text-dark">₹{{prod.price}}</span>
                   <span class="text-decoration-line-through">₹{{prod.price_not}}</span>
                </div>
        </a>
      </div>
       
         
       {% if forloop.counter|divisibleby:7 %}
      </div>
    </div>
    <div class="carousel-item ">
      <div class="row">

       {% endif %}

      {% endfor %}
      </div>

    </div>

    
  </div>
  <!--carousel control start -->
  <a href="#"  class="carousel-control-prev control-item bg-dark" data-bs-target="#carouselExampleControlsNoTouching{{forloop.counter}}" data-bs-slide="prev"><i class="fa fa-angle-left"></i></a>
  <a href="#" class="carousel-control-next control-item" data-bs-target="#carouselExampleControlsNoTouching{{forloop.counter}}" data-bs-slide="next"><i class="fa fa-angle-right"></i></a>

  <!--carousel control end-->

</div>
{% endfor %}
  
</div>
</div>

{% endblock mainbody %}
{% block customscript %}
<script type="text/javascript">
  if (document.body.offsetWidth < 1024){
    document.body.style.backgroundColor = "#e2eaef";
    document.getElementById('Trend').classList.remove('container')
    document.getElementById('Trend').classList.add('container-fluid')
  
    document.getElementById('Trend').innerHTML=`
  <div id="Trending" class="carousel slide mt-3 " data-bs-touch="false" data-bs-interval="false">
    <div class=" text-center header">
           <h1>Trending <span>Products</span></h1>
           <a href="{% url 'viewall' category="trend" %}" class="text-dark"><i class="fa-solid fa-eye mx-1"></i>View All</a>
  </div>
    <div class="row justify-content-center ">
   
        {% for   prod in trend|TrendLatest:"-1"|slice:":4" %}
            <div class="prodsm mt-1 ">
              <div class="wrapper  ">
                <a href="{% url 'productview' prod.product.product_id %}" class="text-decoration-none text-center ">
                <div class="img-box ">
                   <img src="{{prod.product.image.url}}" alt="" class="img-fluid img-responsive">
                </div>
                <div class="content-box ">
                  <p>{{prod.product.productname|truncatechars:20}}</p>
                </div>
                <div class="price-box">
                   <span class="text-dark">₹{{prod.product.price}}</span>
                   <span class="text-decoration-line-through">₹{{prod.product.price_not}}</span>
                </div>
                </a>
              </div>
            
            </div>
      {% endfor %}

      </div>`
      document.getElementById('AllProd').innerHTML=`

      {% for cat in AllProd %}
      <div id="Allprod{{cat}}" class="carousel slide mt-3 ">
          <div class=" text-center header">
           <h1>Flash on <span>{{cat}}</span></h1>
           <a href="{% url 'viewall' cat %}" class="text-dark"><i class="fa-solid fa-eye mx-1"></i>View All</a>
          </div>
      </div>
      <div class="row justify-content-center">
        {% for product in cat|GetLatest:"-1"|slice:":4" %}
          <div class="prodsm mt-1 ">
              <div class="wrapper  ">
                <a href="{% url 'productview' product.product_id %}" class="text-decoration-none text-center ">
                <div class="img-box ">
                   <img src="{{product.image.url}}" alt="" class="img-fluid img-responsive">
                </div>
                <div class="content-box ">
                  <p>{{product.productname|truncatechars:20}}</p>
                </div>
                <div class="price-box">
                   <span class="text-dark">₹{{product.price}}</span>
                   <span class="text-decoration-line-through">₹{{product.price_not}}</span>
                </div>
                </a>
              </div>
           </div>
        {% endfor %}
      </div>
      {% endfor %}

      `
}

</script>
<script>


</script>
{% endblock customscript %}
