{% extends 'App/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block customstyle %}
<style>
    #login-box label{
        color: #fff;
    }
    #login-box label{

    }
    

 

</style>
{% endblock customstyle %}
{% block mainbody %}

{{ block.super }}
<div class="container h-100 d-flex justify-content-center align-items-center ">
    
        
    <div id="login-box" class="d-flex  flex-column">
        <p class="h3" style="color:red">{% block contenttittle %}Login{% endblock contenttittle %}</p>

        <div class="mt-3" >
            <form action="" novalidate method="post">
            {% csrf_token %}
            {% block mainblock %}
            <p class="text-danger fw-bold" style="font-size:14px;">{{form.non_field_errors|striptags}}</p>
            {% if messages %}
            {% for msg in messages %}
            <p class='text-{{msg.tags}}'>{{msg}}</p>
            {% endfor %}
            {% endif %}
            {{form.username|as_crispy_field}}
            

            {{form.password|as_crispy_field}}
            <input type="checkbox" name="showpass" id="showpass">
            <span class="text-light">Show password</span>
            <a href="{% url 'Passwordreset' %}" id="forgetpassowrd" class="float-end text-decoration-none">Foreget Password?</a>
            {% endblock mainblock %}
            <input type="submit" value="Login" style="letter-spacing:1px; background:red;"  class="btn w-100 text-light   d-block fw-bold px-3 my-1">
         </form>
        </div>
        {% block loginfooter %}
        <div id="link-signup"> 
            <p style="color:red">Not a  member? <a href="{% url 'register' %}" class="fw-bold">Signup</a></p>
        </div>
        {% endblock loginfooter %}
        


    </div>
   

</div>


{% endblock mainbody %}
{% block footer %}
<div class="w-100 bg-danger " styel="height:100px !important">
   

</div>
{% endblock footer %}
