{% extends 'App/login.html' %}
{% block customstyle %}
{% load crispy_forms_tags %}
<style>
    .Notmemmber{
        display: none;
    }

</style>
{% endblock customstyle %}
{% block mainblock  %}
<p>Enter your email address and we will email you instruction on how you reset password</p>
{{form|crispy}}
{% endblock mainblock  %}
{% block contenttittle %}
Welcome
{% endblock contenttittle %}

{% block loginfooter  %}
<div class="mt-1">
    <a href="{% url 'login' %}" class="me-2">Login</a><span >with your credentials</span>

</div>
{% endblock loginfooter  %}