body,html{
  
    box-sizing: border-box;
    background: #d1d8e0;
    height: 100%;
   
   
  
}
 p{
        margin: 0 !important;
}
:root{
    --mycolor: #e84393 !important;
    --major-color:#3B3B98;
}
#mainnav{
    width: 100%;
    height: 42px;
    /* background: var(--major-color); */
    background: #000;
    z-index: 1000 !important;
    border: 1px solid red;
}
#offcanvasLeft{
    background: #000;
    border: 1px solid red;
}
#bottom-nav{

   /*  background: #3B3B98; */
    background: #000;
    height: 42px;
    width: 100%;
    z-index: 1;
   
    border-top: 1px solid red;
    
    
}
#bottom-nav a p{
    font-size: 14px;
    color: #fff;
}
#bottom-nav a{
    text-decoration: none;
    color: #fff;
}
.mainbody{
    padding-bottom: 100px;
   
}
.search{
    display: inline-flex;
    width:  70% ;
}
.menu-icon{
    font-size: 25px;
}
#search-field{
    margin-left: 50px;
}
.asteriskField{
    display: none;
}
.invalid-feedback{
    margin-bottom: 0;
}
#forgetpassowrd{
    font-weight: 600;
  

}

#login-box{
    width: 400px;
   /*  background: #dff9fb; */
     background: #000;
   
    margin-top: 10px;
    height: fit-content;
    border-radius: 10px;
   
 
    padding: 10px 20px;
}
#Signup-box{
    width: 500px;
    background: #000;
    /* background: #dff9fb; */
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}
#Signup-box label,#login-box label
{
    font-weight: bold;
    color: #fff;
}
#Signup-box input[type="submit"]{
    background: red;
}

#profile-pic{
    width: 25px;
    height: 25px;
    background-color: pink;
    border-radius: 50%;
}
#signuporlogin a::after{
    content: " ";
    margin-left: 2px;
    background-color: red !important;

    height: 100%;
    position: relative;
    top: 0;
    right: 0;

}



@media(min-width :768px){
    #login-box,#Signup-box{
        margin-top: 50px;
    }
    .mainbody{
    padding-bottom: 0;}

}



@media(max-width:765px){
    
    #search-field{
     margin-left:  0;
    width: 100% !important;
    }
    .search{
  
    width:  100% !important ;
}
    #login-box{
        width: 80%;
    }
 
    #Signup-box{
        width: 100%;
    }
    #forgetpassowrd{
     font-size: 13px;
    }
    #login-box span{
    font-size: 13px;
}
#login-box label,#login-box span,#link-signup p{
         font-size:14px;
        
}
#login-box input{
        padding:3px 2px;
}
#login-box form{
    width: 95%;
}
#login-box{
    padding: 10px 20px;
}
    

}
